/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}

/* UTIL */
{}
{}
{}
{}
{}
{}

/* HEADER */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.bnt-footer{
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid white;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.5s;
}
.bnt-footer>a{
  text-decoration: none;
  color: white;
}
.bnt-footer:hover {
  transform: scale(1.01);
  font-weight: 600;
  border: 2px solid white;
}

/* ASIDE */
aside{
  width: 250px;
  height: calc(100vh - 100px);
  background-color: black;
  display: relative;
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
}
.aside-top{
  width: 100%;
  height: 100px;
  background-color: rgb(0, 68, 255);
}
.aside-menu{
  width: 100%;
  height: 130px;
  background-color: rgb(81, 255, 0);
}
.aside-playlist{
  width: 100%;
  height: calc (100vh - 410px);
  background-color: rgb(255, 230, 0);
  overflow: auto;
}
.aside-bottom{
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: red;

}
{}
{}
{}
/* MAIN */
main{
  width: calc(100% - 250px);
  height: 100vh;
  float: right;
}
